<app-navbar *ngIf="idUser!=null"></app-navbar>

<div *ngIf="idUser!=null" class="container">
    <div class="form-group m-4 row">
    <label class="col-sm-2  col-form-label" for="ville">Ville</label>
    <div class="col-sm-5">
        <select   [(ngModel)]="newForm.villeId" (change)="onSelectVille($event.target) ;valider()" class="form-control" name="ville" id="">
            <option value="0">-</option>
            <option *ngFor="let item of ville" [value]="item.id">{{item.title}}</option>
        </select>
        <small *ngIf="newForm.villeId==0" id="fileHelpId" style="color: red;" class="form-text"> * champ obligatoire choisir une ville </small>
    </div>
    {{idUser}}
    </div>
    <div class="form-group m-4 row">
        <label class="col-sm-2  col-form-label" for="">Véhicule</label>
        <div class="col-sm-5">
        <select [(ngModel)]="newForm.vehiculeId" (load)="onSelectVille($event.target)" (change)="valider()" class="form-control" name="vehicule" id="">
            <option value="0">-</option>
            <option *ngFor="let item of vehicule" [value]="item.id">{{item.title}}</option>
        </select>
        
        <small *ngIf="newForm.vehiculeId==0" id="fileHelpId" style="color: red;" class="form-text"> * champ obligatoire choisir une véhicule </small>
        </div>
        
    </div>
    <!--{{newForm | json}}-->
    <div class="form-group m-4 row">
        <label class="col-sm-2  col-form-label" for="">Produit</label>
        <div class="col-sm-5">
        <select [(ngModel)]="newForm.produitId" (change)="valider()" class="form-control" name="produit" id="">
            <option value="0">-</option>
            <option *ngFor="let item of produit" [value]="item.id">{{item.title}}</option>
            </select>
            <small *ngIf="newForm.produitId==0" id="fileHelpId" style="color: red;" class="form-text"> * champ obligatoire choisir un produit </small>
        </div>
        
    </div>
    <div class="form-group m-4 row">
        <label class="col-sm-2  col-form-label" for="">Probleme/Panne</label>
        <div class="col-sm-5">
            <select [(ngModel)]="newForm.problemeId" (change)="valider()" class="form-control" name="probleme" id="">
                <option value="0">-</option>
                <option *ngFor="let item of probleme" [value]="item.id">{{item.title}}</option>
            </select>
            <small *ngIf="newForm.problemeId==0" id="fileHelpId" style="color: red;" class="form-text"> * champ obligatoire choisir le panne </small>
        </div>
        
    </div>
    <div class="form-group m-4 row">
        <label class="col-sm-2  col-form-label" for="">Solution</label>
        <div class="col-sm-5">
            <select [(ngModel)]="newForm.solutionId" (change)="valider()" class="form-control"  name="solution" id="">
                <option value="0">-</option>
                <option *ngFor="let item of solution" [value]="item.id">{{item.title}}</option>
            </select>
            <small *ngIf="!Traite" id="fileHelpId" style="color: red;" class="form-text"> * champ obligatoire choisir la Solution </small>
        </div>
        
    </div>
    <div class="form-group m-4 row">
            <label class="col-sm-2  col-form-label" for="description">Description</label>
            <div class="col-sm-5">
                <textarea [(ngModel)]="newForm.description" class="form-control" placeholder="Description de panne" name="description" id="" rows="3"></textarea>
            </div>
    </div>
    <div class="form-group m-4 row">
        <label class="col-sm-2  col-form-label" for="">Statut</label>
        <div class="col-sm-5">
            <div class="row">
                <div [ngSwitch]="newForm.statut" class="col col-lg-3">
                en cours <input *ngSwitchCase="0" (change)="valider()"   checked [(ngModel)]="newForm.statut" type="radio" [value]="0" name="statut" id="">
                         <input *ngSwitchCase="1" (change)="valider()"  [(ngModel)]="newForm.statut" type="radio" [value]="0" name="statut" id="">
                
            </div>
            <div [ngSwitch]="newForm.statut" class="col col-lg-2">
                traité <input *ngSwitchCase="0" (change)="valider()"  [(ngModel)]="newForm.statut" type="radio" [value]="1" name="statut" id="">
                       <input *ngSwitchCase="1" (change)="valider()"  checked [(ngModel)]="newForm.statut" type="radio" [value]="1" name="statut" id="">
            </div>
            </div>
            
        </div>
       
        
    </div>
    <div class="form-group m-4 row">
        <label class="col-sm-2  col-form-label" for="">Photo</label>
        <div class="col-sm-5">
            <input type="file" class="form-control-file" name="" id="" placeholder="" aria-describedby="fileHelpId">
            <small id="fileHelpId" class="form-text text-muted"> (max taille) </small>
        </div>
        
    </div>
    
    <div class="form-group mt-5 row text-center">
        
        <div class="col-sm-3">
            <a  *ngIf="issetId && !allValid" [ngClass]="{'disabled':'disabled'}" (click)="mod(newForm)" type="button" class="btn btn-warning" href="/forms" >Modifier</a>
            <a  *ngIf="issetId && allValid" (click)="mod(newForm)" type="button" class="btn btn-warning" href="/forms" >Modifier</a>
            </div>
        <div class="col-sm-1">
            <a  type="submit" class="btn btn-danger" href="/home" >Annuler</a>
        
        </div>
    </div>
</div>



 