<app-navbar *ngIf="idUser!=null && is_admin==1"></app-navbar>

<div *ngIf="idUser!=null && is_admin==1" >

    <div *ngIf="hideAdd" class="container py-4"> 
       
        <button type="button" style="width: 150px;" (click)="add()" class="btn btn-outline-primary">new</button>
    </div>
<div *ngIf="!hideAdd" class="container mt-5">
    <form [formGroup]="addVehicule">
        <div class="col-md-4 ml-md-auto">
            <div class="form-group py-2">
                <label class="col-sm-2  col-form-label" for="ville">Ville</label>
                <div class="col-sm-8">
                    <select [(ngModel)]="selectedville.id" formControlName="ville" required (change)="onChange($event.target)" class="form-control" name="ville" id="">
                        <option value="0">-</option>
                        <option *ngFor="let item of ville" [value]="item.id">{{item.title}}</option>
                    </select>
                    <small *ngIf="selectedville.id==0" id="fileHelpId" style="color: red;" class="form-text"> * champ obligatoire choisir une ville </small>
                </div>
                    
                
            </div>
            <div class="form-group py-2">
                <label for="vehicule">Vehicule</label>
                <input [(ngModel)]="Vehicule.title" formControlName="vehicule" type="text" name="vehicule" class="form-control" >
                <small *ngIf="vehicule.invalid" id="fileHelpId" style="color: red;" class="form-text"> ** </small>
                
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <button *ngIf="addButton" class="btn btn-success btn-block" (click)="addNewVehicule()" [disabled]="vehicule.invalid || selectedville.id==0" type="submit">Ajouter</button>
                        <button *ngIf="!addButton" class="btn btn-warning btn-block" (click)="modVehicule(Vehicule)" [disabled]="vehicule.invalid || selectedville.id==0" type="submit">Modifier</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-secondary btn-block" (click)="add()" type="submit">Annuler</button>
                    </div>
                </div>
                
                
            </div> 
        </div>
    </form>
    <hr>
</div>



<div class="container body">
    <h1>Liste Vehicules</h1>
    <input class="form-control" (keyup)="filter($event.target)" placeholder="Filter">
    <br>
    <mat-table #table matSort [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="mod">
            <mat-header-cell *matHeaderCellDef> Modifier </mat-header-cell>
            <mat-cell *matCellDef="let element"> <button (click)="onMod(element)" class="btn btn-primary" >mod</button> </mat-cell>
        </ng-container>
        <ng-container matColumnDef="supp">
            <mat-header-cell *matHeaderCellDef > Supprimer </mat-header-cell>
            <mat-cell *matCellDef="let element"> <button (click)="onDelete(element.id)" class="btn btn-danger" >supp</button> </mat-cell>
        </ng-container>

        

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator
    [pageSize]="15"
    [showFirstLastButtons]="true">
    </mat-paginator>

    
    
    
    
</div>


</div>
